<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row align-items-center my-3">
        <div class="col-sm d-flex justify-content-center">
          <img src="https://www.u3a.org.uk/images/icons/u3a_orange_logo.png" alt="u2a Logo" class="mw-100" />
        </div>
        <div class="col-sm">
          <div class="d-flex flex-column justify-content-center">
            <h2 class="mt-0">Headington - U3A</h2>
            <p>Our u3a Christmas lunch this year is being held at the Black Boy Pub, Headington, on Thursday, the 15th of December, at 12:30; the price for the three-course lunch is £35.</p>
            <p>Below is the order form; please insert your name, email, and telephone number, then select your starter, main, and dessert choice. Once you have chosen, press the select button, and Sylvie will be notified automatically of your preferences.</p>
            <p>Payment can be in instalments or the total cost either by cash or cheque payable to Headington u3a to either Linda or Sylvie at the next U3A meetings.</p>
          </div>
        </div>
      </div>

      <div class="row align-items-center" style="height: 30vh">
        <div class="col-sm text-center">
          <h1>Many Thanks!</h1>
          <p>The Christmas form has now been submitted, thank you.</p>
          <p>Once again, any outstanding balance must be paid by the 1st of December.</p>
          <p>Looking forward to seeing you all!</p>

          <button onclick="location.href='/';" type="button" class="btn btn-secondary">Click here to submit another</button>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
