<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank you</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

</head>
<body>

  <div class="container">

    <div class="row align-items-center my-3">
      <div class="col-sm d-flex justify-content-center">
        <img src="https://www.u3a.org.uk/images/icons/u3a_orange_logo.png" alt="u2a Logo" class="mw-100">
      </div>
      <div class="col-sm">
        <div class="d-flex flex-column justify-content-center">
          <h2 class="mt-0">Headington - U3A</h2>
          <p>This year, the U3A Christmas lunch will be held at <a href="https://blackboyoxford.co.uk/" target="_blank">The Black Boy</a>, Headington. All are welcome to join, although we need to know the numbers and orders ASAP. Below is the order form; please insert your name, email, and telephone number, then your starter, main course, and dessert choice. £10 deposit needs to be paid to Sylvie at the next meeting. Once you have made your selection, press the submit button, and Sylvie will be notified automatically of your choices.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center" style="height: 30vh;">
      <div class="col-sm text-center">
        <h1>Many Thanks!</h1>
        <p>The Christmas form has now been submitted, thank you. Once again, the outstanding balance of £20 to be paid at the latest by December 2nd, at the U3A meeting.</p>
        <p>Looking forward to seeing you all!</p>
      </div>
    </div>

  </div>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>